@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');


html body{
    margin:0;
    padding:0;
    height:100%;
}

.main{
    min-height: 100%;
    position: relative;
    padding-bottom: 100px;
}

p {
    font-family: "Merriweather";
    color: black;
    text-align: center;
}


h1 {
    color: dimgray;
    font-family: "Climate Crisis";
    width: 118px;
    border: 1px solid beige;
    background-color: rgb(204, 155, 95);
    padding: 16px;
    border-radius: 50px;
    font-size: 20px;
    margin-right: 10px;
    text-align: center;
}

h2 {
    text-align: center;
}

body {
    background-color: bisque;
    display: flex;
    flex-direction: column;
}

.lien-icone{
    margin-left: 10px;
    text-align: right;
    justify-content: center;
}

.lien-icone:hover {
    opacity: 0.5;
}

.lien-icone-twitter{
    margin-left: 10px;
    text-align: right;
    justify-content: center;
    font-size: 3px;
}

.lien-icone-twitter:hover{
    opacity: 0.5;
}


.top {
    background-image: url("./photo/banniere.jpeg");
}

.bouton_droite a {
    color: black;
    position: relative;
    margin: auto;
    text-align: right;
}

a:hover {
    text-decoration: underline;
}

button {
    --b: 3px;   
    --s: .15em; 
    --c: #BD5532;
    
    padding: calc(.05em + var(--s)) calc(.3em + var(--s));
    color: var(--c);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--c) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .2em;
  }
  button:hover,
  button:focus-visible{
    --_p: 0px;
    outline-color: var(--c);
    outline-offset: .05em;
  }
  button:active {
    background: var(--c);
    color: #fff;
  }
  

  button {
    font-family: "Inconsolata";
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
    border: none;
    margin: .1em;

  }

.container_button{
    text-align: center;
}
  
.bouton_droits{
    text-align: right;
}


.premier_titre{
    font-size: 35px;
}

.bouton_droits a:hover{
    opacity: 0.5;
}

.footer ul{
    display: flex;
    list-style: none;
    justify-content: center;
    justify-content: space-around;
}

.footer{
    width: 100%;
    text-align: center;
    background-color: burlywood;
    bottom: 0;
    margin-top: auto;
    height: 70px;
}

.card{
    padding: 20px;
    border: 1px solid ;
    background-color: wheat;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 119px;
    border-radius: 10px;
    width: 250px;
    height: 135px;
    padding: 15px;
    text-align: center;
    transition: 0.4s;
    
}

.card:hover{
   transform: scale(1.05);
    box-shadow: 0px 0px 20px black;

}

.ok{
    display: flex;
}

.plus{
    justify-content: space-evenly;
}

@media screen and (max-width: 750px) {
    .plus .ok{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
 }






